---
import './SectionContainer.scss';
import SectionHeading from './SectionHeading.astro';

interface SectionContainerProps {
    sectionId?: string;
    sectionNumber?: number;
    sectionTitle?: string;
    contentWidth?: boolean;
    className?: string;
    noTopMargin?: boolean;
    isStyled?: boolean;
}

const {
    sectionId = '',
    sectionNumber = 1,
    sectionTitle = '',
    contentWidth = true,
    className = "",
    noTopMargin = false,
    isStyled = true,
}: SectionContainerProps = Astro.props;
---

<section id={sectionId} class={`section-generic ${className} ${noTopMargin ? 'no-top-margin' : ''}`}>
    <div class={ contentWidth === true ? 'struct' : 'struct-width' }>
        {sectionTitle !== '' && (
            <SectionHeading isStyled={isStyled} headingType="h2" sectionNumber={sectionNumber}>{sectionTitle}</SectionHeading>
        )}
        <slot />
    </div>
</section>

