---
import './SectionHomeBlog.scss';
import { formatDate } from '../lib/common';
import { PostService } from '../lib/PostService';
import Icon from './Icon.astro';

const postService = new PostService();
const posts = await postService.getLatest(3);


---
<div class="blog-list">
    {posts.map((post) => (
        <a class="blog-entry" href={`/field-notes/${post.id+'-'+post.slug}`} aria-labelledby={`postid-${post.id}-h3`} aria-describedby={`postid-${post.id}-p`}>
            <div class="preview" style={{backgroundImage: post ? `url(${post.jetpack_featured_media_url})` : 'none'}}></div>
            <h3 id={`postid-${post.id}-h3`}>{post.title.rendered}</h3>
            <div id={`postid-${post.id}-p`} class="excerpt" set:html={post.excerpt.rendered}></div>
            <p class="post-date" set:html={`posted `+formatDate(post.date)}></p>
        </a>
    ))}
    <a href="#" class="blog-more">
        <p>More</p>
        <Icon id='caret-right' width='40' height='40' />
    </a>
</div>