---
import type { GetStaticPaths } from "astro";
import GlobalLayout from '../../layouts/GlobalLayout.astro';
import HeadingCard from '../../components/HeadingCard.astro';
import SectionHeading from '../../components/SectionHeading.astro';
import SectionContainer from '../../components/SectionContainer.astro';
import ProjectBento from "../../components/ProjectBento.astro";
import { getAllProjects, getBentoItemsWithTech } from '../../lib/projects';
import '../../styles/projects.scss';

export const getStaticPaths = ( async () => {
    const projects = await getAllProjects();

    return projects.map((project) => ({
        params: { slug: project.slug },
        props: { project }
    }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { Content } = await project.render();
const bentoItems = getBentoItemsWithTech(project);
---


<GlobalLayout 
  title={`${project.data.title} | the13thgeek`}
  section="projects"
  description={project.data.description}
  ogImage={project.data.image}
  path={`/projects/${project.slug}/`}
>
    <SectionContainer>	
		<HeadingCard>
			<SectionHeading isStyled={false} headingType="h1" sectionNumber={1}>
				{project.data.title}
			</SectionHeading>
			<p class="subtitle">Ideas brought to life</p>
		</HeadingCard>
	</SectionContainer>

    <SectionContainer noTopMargin>
        <SectionHeading sectionNumber={2} headingType='h2' slot="heading">Intro</SectionHeading>
        <div class="project-intro">
            <div class="image">
                <img src="https://placehold.co/600x400" alt={project.data.title} />
            </div>
            <div class="content">
                <span class="type">{project.data.type}</span>
                <h3>{project.data.title}</h3>
                <p>{project.data.description}</p>
                {project.data.url && (
                    <a href={project.data.url} target="_blank" rel="noopener noreferrer" class="project-link">Visit Project</a>
                )}
            </div>
            
        </div>
    </SectionContainer>

    <SectionContainer className="project-data">
        <SectionHeading sectionNumber={3} headingType='h2'>Project Data</SectionHeading>
        {project.data.bentoItems && project.data.bentoItems.length > 0 && (
            <ProjectBento items={bentoItems} />
        )}
    </SectionContainer>

    <SectionContainer className="project-info">
        <SectionHeading sectionNumber={4} headingType='h2'>Information</SectionHeading>
        <Content />
    </SectionContainer>
</GlobalLayout>